<link rel="stylesheet" href="/css/movieapi.css">
<div class = "search">
    <form id="form">
    <span>Search movies</span>
        <input type="text" id="search" class="search" placeholder="Search" />
    </form>
</div>

<main id="main">
    {{> movies-api}}
</main>
