@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  --body-text-color: #1f1f1f;
  --link-color: #11c453;
  --accent-color: #11c453;

  --footer-color: #c6c6c6;
  --footer-text: #4f4f4f;
  --footer-links: #4f4f4f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-text-color);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-text-color);
}

/* Links */
a,
a:visited,
a:active {
  color: #ffffff;
}
a:hover {
  color: #d5c4ee;
}
a:focus {
  color: #ffffff;
}
/* Containers */
#content {
  padding: 1rem;
}

/* Code blocks */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}