body {
  height: 100vh;
  background-color: #22254b;
  display: flex;
}
.container {
  width: 500px;
  height: 600px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-family: Exo;
  color: white;
  background-color: #373b69;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.container hr {
  width: 100%;
}

.steps-container hr {
  border-top: 7px solid #fff
}

.heading {
  padding-bottom: 20px;
  padding-top: 0;
  font-weight: 900;
  text-align: center;
  font-size: 2em;
}

.input-slide h3{
  text-align: center;
}

.input-slide p{
  text-align: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  gap: 1-rem;
  margin: 0;
  padding: 0;
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}

a:hover {
  color: none;
}
a:visited {
  color: none;
}

a:active{
  color:none;
}

.back{
  margin-bottom: 15px;
}

.form-button {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}

.full-name {
  display: flex;
  flex: row;
  justify-content: center;
}

.input-slide .username{
  display: flex;
  flex: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.input-slide input {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #6c757d;
  outline: none;
  border-radius: 5px;
  border: none;
  margin: auto 10px;
  font-size: 1.01em;
  color: white;
  box-sizing: border-box;
  transition-duration: 0.3s;
  position: relative;
}

.steps-container > .active {
  background: #80ed99;
  width: 0%;
}

.steps {
display: inline-block;
position: absolute;
top: -25px;
background-color: #fff;
padding: 10px;
border-radius: 50%;
border: 2px solid #fff;
}

.item-icon > .steps {
width: 45px;
height: 45px;
border-radius: 50%;
background-color: #f8f9fa;
color: #212529;
font-size: 1.4em;
display: flex;
border: 5px solid #373b69;
margin: auto;
position: relative;
box-sizing: content-box;
z-index: 1;
overflow: hidden;
align-items: center;
justify-content: center;
}

.steps {
  display: inline-block;
  position: absolute;
  top: -25px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.item-icon > .steps {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f8f9fa;
  color: #212529;
  font-size: 1.4em;
  display: flex;
  border: 5px solid #373b69;
  margin: auto;
  position: relative;
  box-sizing: content-box;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.input-slide input::placeholder {
  color: white;
  font-size: 1.01em;
}
.input-slide input:focus {
  border: 1px solid lime;
}

.button-next {
  padding: 8px 20px;
  border-radius: 20px;
  color: white;
  font-weight: 800;
  outline: none;
  border: none;
  margin: 5px;
  font-family: Exo;
  font-size: 1em;
  cursor: pointer;
  background-color: #52b788;
}
.button-next:hover {
  background-color: #40916c;
}
.steps-container {
  display: flex;
  padding-bottom: 15px;
}

.item-icon {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

h2.heading{
  font-size: 32px;
  font-family: Exo;
}

.error {
  color: #ff4d4d;
  font-size: 0.8em;
  padding-left: 10px;
}

.success-message {
  display: none;
  color: #80ed99;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2em;
}


.input-slide {
  display: none;
}

.input-slide.active {
  display: block;
}

.password, .confirm-password {
display: block;
padding: 10px;
margin: 10px auto;
}
