<div class="footer">
    <div class ="container">
<p>© 2024 Movie App. All rights reserved.</p>
    <div class="social-media">
        <a href="facebook.com">Facebook</a>
        <a href="x.com">Twitter</a>
        <a href="instagram.com">Instagram</a>
    </div>
    </div>
</div>