        <section class="welcome"></section>
            <h2>Welcome to Our Movie App</h2>
        </section>
        
        <section class="featured">
            <h2>Featured Movies</h2>
            <div class="slider">
                <div class="inner-slider">
                    <div class="item">
                        <img src="./image/fall-guy-horizontal.jpeg">
                        <div class="item-overview">
                            <h3>Overview</h3>
                            <p>This is movie description.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./image/kingdom-apes-horizontal.jpg">
                        <div class="item-overview">
                            <h3>Overview</h3>
                            <p>This is movie description.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./image/interstellar-horizontal.jpg">
                        <div class="item-overview">
                            <h3>Overview</h3>
                            <p>This is movie description.</p>
                        </div>
                    </div>
                </div>
                <button class="prev">&laquo</button> 
                <button class="next">&raquo</button>
            </div>
        </section>