main {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

main .movie {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    max-width: 1200px;
    height: auto;
}

main .movie img {
    width: 100%;
    height: auto;
    align-items: center;
    object-fit: cover;
    display: block;
}

.movie .movie-info {
    display:flex;
    padding-left: 1rem;
    padding-top: auto;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #373b69;
    height: 100px;
}

.movie .movie-info span {
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie .movie-info span.green {
    color: lightgreen;
}

.movie .movie-info span.orange {
    color: rgb(231, 228, 50);
}

.movie .movie-info span.red {
    color: rgb(204, 14, 14);
}

.movie .overview {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    text-align: left;
    padding-top: 0;
    padding: 2rem;
    left: 0;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.4s ease-in;
  }

.movie .overview h3 {
    text-align: left;
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(-100%);
}

.movie .movie-info h3 {
    max-width: calc(100% - 2rem);
    
}

#search {
    
    padding: 10px;
    background-color: transparent;
    inline-size: none;
    outline: none;
    border-radius: 20px;
    color: white;
    border: 2px solid black;
    margin: auto 10px;
    font-size: 1.01em;
    box-sizing: border-box;
    transition-duration: 0.3s;
    position: relative;
  }

